nav{
    background-color: gray;
    width: 100%;
}

nav img{
    position: relative;
    left: 70px;
    top:10px;
}

nav li{
    display: inline;
    width: 100%;
    margin: 35px;
    position: relative;
    bottom: 35px;
    left: 300px;
    color: #444;
}
section {
width: 93%;
}

#mainSection{
    position: relative;
    left: 75px;
    top: 30px;
    bottom: 30px;
}

#secodSectiom{
    position: relative;
    left: 45px;
    top: 50px;
}

#secodSectiom img{
    margin: 13px;
    position: relative;
    left: 18px;
}

#thirdSection {
    padding-top: 70px;
    padding-left: 75px;
}

#thirdSection img{
    float: left;
}

article{
    display: block;
    width: 45%;
    height: 10px;
    float: right;
    position: relative;
    right: 50px;
}

article h5{
    font-size: 1.3rem;
    font-weight: bold;
}

#scroll{    
    overflow-y:  scroll;
    height: 200px;
}

section button{
    width: 70px;
    height: 40px;
    border: none;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    background-color: greenyellow;
    position: relative;
    top: 30px;
}
section button:hover{
    background-color: rgb(233, 105, 0);
    width: 70px;
    transition: 350ms;
}
#sup{
    background-color: orangered;
    display: none;
    font-size: 2rem;
}
button:hover + #sup {
    display: inline-block;
}

footer{
    display: block;
    clear: both;
    width: 100%;
    height: 50px;
    background-color: #444;
    position: static;
}